{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            display: flex;
            justify-content: center;
            max-width: 800px;
            width: 95%;
            margin: auto;
            font: 18px/1.5 sans-serif;
        }

        .input-wrapper{
            display: flex;
            flex-direction: column;
        }
    </style>

    <div class="example-wrapper">
        <ul>
            {% if user is defined %}
                <h1>Update User</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="input-wrapper">
                    <button>Submit</button>
                </div>
                {{ form_end(form) }}
            {% else %}
                <h1>Error</h1>
                <li>{{ error }}</li>
            {% endif %}
            <a href="{{ path('user_index') }}">back to list</a>
        </ul>
    </div>
{% endblock %}