{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            display: flex;
            justify-content: center;
            max-width: 800px;
            width: 95%;
            margin: auto;
            font: 18px/1.5 sans-serif;
        }
    </style>

    <div class="example-wrapper">
        <ul>
            {% if user is defined %}
                <h1>User</h1>
                <li>Username: {{ user.username }}</li>
                <li>Roles:
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </li>
            {% else %}
                <h1>Error</h1>
                <li>{{ error }}</li>
            {% endif %}
            <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
            <a href="{{ path('user_index') }}">back to list</a>
            {{ include('user/_delete_form.html.twig') }}
        </ul>
    </div>
{% endblock %}
